# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db


